@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&family=Poppins:wght@300;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*-----------------------------------HEADER--------------------------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 15px 20px -22px black;
    z-index: 10;
}

.contenido-header {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis';
}

.logo a {
    color: #000
}

.logo a::after {
    color: #000;
}

.logo h1 b {
    color: #ff7300da;
}

.menu {
    height: 100px;
}

.menu nav {
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li {
    height: 100%;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Dosis';
    font-weight: 700;
}

.menu-selected:before {
    content: '';
    width: 100%;
    height: 4px;
    background: #ff7300da;
    position: absolute;
    top: 0;
    left: 0;
}

.menu ul li a {
    color: #777777;
    transition: color 300ms;
}

.menu ul li a:hover {
    color: #ff7300da;
}

.menu .text-menu-selected {
    color: #ff7300da;
}

.menu nav ul li a i {
    display: none;
}

#icono-menu {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #f5f3f3;
    border-radius: 100%;
    color:#312d2d;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#icono-menu:hover {
    background: #ff7300;
    opacity: 0.8;
}

/*-------------------------PORTADA--------------------------*/

.container-portada {
    width: 100%;
    height: 500px;
    position: relative;
    top: 100px;
    background-image: url(../img/img-portada.jpg);
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-portada:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255,115,0,0.9);
    position: absolute;
    top: 0px;
    left: 0px;
}

.container-text-portada {
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 8;
}

.container-text-portada h1 {
    font-size: 60px;
    margin-bottom: 40px;
    font-family: 'Poppins';
    font-weight: 700;
}

.container-text-portada p {
    font-size: 20px;
    font-family: 'Dosis';
    font-weight:600;
}

/*------------------BARRA BÚSQUEDA -------------------*/

#barra-busqueda {
    margin-top: 100px;
    width: 100%;
    height: 50px;
    background: rgb(253, 154, 72);
    padding: 5px;
}

#input-busqueda {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-family: 'Dosis';
    font-weight:600;
    outline: 0;
    border-radius: 10px;
    padding-left: 10px;
}

#caja-busqueda {
    margin: 1px 0px 10px 30px;
    width: 96%;
    position: relative;
    background: gainsboro;
    border-radius: 10px;
    overflow: hidden;
    z-index: 8;
    display: none;
    
}

#caja-busqueda li a {
    display:block;
    width: 100%;
    color: #272626;
    padding: 12px 20px;
    font-family: 'Dosis';
    font-weight:400;
}

#caja-busqueda li a:hover {
    background: #ff8827;
}

#caja-busqueda li a i {
    margin-right: 10px;
    color: #272626;
}

#cover-busqueda {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 7;
    display: none;
}

/*-------------RECETAS MÁS BUSCADAS----------------------------*/
#titulo-seccion {
    margin-top: 25px;
    text-align: center;
    font-size: 50px;
    font-family: 'Poppins';
    font-weight: 800;
}

.recetas-buscadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recetas-buscadas article {
    padding: 40px;
    width: 600px;
}

.recetas-buscadas article h2 {
    margin-bottom: 20px;
    font-size: 35px;
    margin-left: 50px;
    font-family: 'Poppins';
    font-weight: 700;
    
}


.contenido-article img {
    float: left;
    margin-right: 20px;
    width: 30%;
    height:120px;
    border-radius: 10px;
    box-shadow: 0 15px 25px -15px black;
}

.contenido-article p {
    font-size: 20px;
    font-family: 'Dosis';
    font-weight:500;
}

.contenido-article button {
    padding: 10px 50px;
    background: #ff8827;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-family: 'Dosis';
    font-weight:800;
}
/*------------------RECETAS-------------------------------*/

.imagen-receta {
    width: 40%;
    margin: 140px auto 60px auto;
    display: block;
    border-radius: 30px;
    box-shadow: 0 15px 25px -15px black;
}


.tabla-receta {
    width: 30%;
    margin: auto;
}

.tabla-receta th {
    padding: 10px;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 700;
}
.tabla-receta td {
    text-align: center;
    padding: 10px;
    border: solid 5px #ff7300;;
    border-radius: 10px;
    font-family: 'Dosis';
    font-weight: 600;
}

.tabla-receta td i {
    margin-right: 10px;
    color:#ff7300
}
.tabla-receta td .icono-dificultad {
    margin-right: 0px;
    color: #ff7300;
}

.titulos-receta {
    color: #ff7300da;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 100px;
    font-size: 40px;
    font-family: 'Poppins';
    font-weight: 800;
}

.lista-ingredientes {
    width: 85%;
    margin: 20px auto 20px auto;
    padding: 0px;
}
.lista-ingredientes li {
    line-height: 2.5;
    font-size: 20px;
    font-family: 'Dosis';
    font-weight: 600;
}

.lista-ingredientes li::marker {
    color: #ff7300;
    font-size: 35px;
}

.lista-instrucciones {
    width: 85%;
    margin: 20px auto 20px auto;
}
.lista-instrucciones li {
    line-height: 3;
    font-size: 20px;
    font-family: 'Dosis';
    font-weight: 600;
}
.lista-instrucciones li::marker {
    color: #ff7300;
    font-size: 30px;
    font-weight: 900;
}

.tabla-nutricional {
    margin: auto;
    border: solid 5px #ff7300;
    border-radius: 10px;
    width: 40%;
}
.tabla-nutricional th {
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'Poppins';
    font-weight: 700;
    border: solid 5px #ff7300;;
    border-radius: 10px;
}
.tabla-nutricional td {
    text-align: center;
    padding: 10px;
    border: solid 5px #ff7300;;
    border-radius: 10px;
    font-size: 1.2em;
    font-family: 'Dosis';
    font-weight: 300;
}

.descripcion-receta {
    text-indent: 40px;
    width: 85%;
    margin: auto;
    font-family: 'Dosis';
    font-weight: 500;
}

/*------------------MASH UP---------------------------------*/

#titulo-mapa {
    color: #ff7300da;
    text-align: center;
    margin: 20px auto;
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 800;
}


.mapa {
    border: solid 10px #ff7300;
    border-radius: 30px;
    height: 400px;
    width: 30%;
    margin: 20px auto
}
/*------------------FOOTER---------------------------------*/

.contenedor-footer {
    width: 100%;
    padding: 40px 0px;
    background: rgb(27, 27, 27);
    margin-top: 40px;
}

.contenedor-footer footer {
    max-width: 1200px;
    margin: auto;
}

.contenedor-footer footer .logo-footer {
    text-align: center;
}

.contenedor-footer footer .logo-footer img {
    width: 100px;
    border: solid 2px #fff;
    border-radius: 100%;
    
}

.contenedor-footer footer .redes-sociales{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.contenedor-footer footer .redes-sociales .icono-footer {
    font-size: 30px;
    margin: 20px;
    background: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    color: #ff7300da;
}

.contenedor-footer footer .redes-sociales .icono-footer:hover {
    background: #ff7300da;
}

.contenedor-footer footer hr {
    margin-top: 10px;
    border: none;
    height: 2px;
    background: #fff;
}

.contenedor-footer h4{
    text-align: center;
    margin-top: 30px;
    color: #fff;
    font-weight: 500;
    font-family: 'Dosis';
    font-weight:700;
}
/*-------------- DISEÑO RESPONSIVO ----------------------------*/

@media screen and (max-width: 1220px) {

    .contenido-header {
        max-width: 1000px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 800px) {

    
    .contenedor-principal {
        transition: 300ms;
    }
    
    .move-contenedor-principal {
        transform: translateX(300px);
    }

    .menu {
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 100px;
        left: 0;
        background: #ff7300;
        transform: translateX(-350px);
        overflow: hidden;
        opacity: 1;
        box-shadow: 10px 0 20px -25px black;
        transition: all 350ms;
    }

    .mostrar-menu-lateral {
        width: 300px;
        transform:  translateX(0px);
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu-selected:before {
        width: 0;
    }

    .menu nav ul li {
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .menu nav ul li a {
        color: rgb(15, 15, 15);
        transition: color 300ms;
        margin-top: 40px;
        font-size: 30px;
    }

    .menu nav ul li a i {
        width: 20px;
        display: inline-block;
        margin-right: 40px;
    }

    .menu nav ul li a:hover {
        color: #fff;
    }

    .menu .text-menu-selected {
        color: #fff;
    }

    #icono-menu {
        display: flex;
    }
}